<div id="<%= dom_id auto_drop_dead %>">
  <p>
    <strong>Sides:</strong>
    <%= auto_drop_dead.sides %>
  </p>

  <p>
    <strong>Dice count:</strong>
    <%= auto_drop_dead.dice_count %>
  </p>

  <p>
    <strong>Player count:</strong>
    <%= auto_drop_dead.player_count %>
  </p>

  <p>
    <strong>Game history:</strong>
    <%= auto_drop_dead.game_history_id %>
  </p>

</div>
