<%= form_with(model: auto_drop_dead) do |form| %>
  <% if auto_drop_dead.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(auto_drop_dead.errors.count, "error") %> prohibited this auto_drop_dead from being saved:</h2>

      <ul>
        <% auto_drop_dead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sides, style: "display: block" %>
    <%= form.number_field :sides %>
  </div>

  <div>
    <%= form.label :dice_count, style: "display: block" %>
    <%= form.number_field :dice_count %>
  </div>

  <div>
    <%= form.label :player_count, style: "display: block" %>
    <%= form.number_field :player_count %>
  </div>

  <div>
    <%= form.label :game_history_id, style: "display: block" %>
    <%= form.text_field :game_history_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
